:root {
  --whiteCultured: #f7f7f7;
  --platinum: #eaeaea;
  --blackCoffee: #3f3844;
  --brownSaddle: #874000;
  --roseDogwood: #ca1862;
  --redRyb: #f4442e;
  --greenWinter: #53917e;
  --blueTufts: #5288d0;
  --blueYonder: #4573b0;
  --silver: #c4c2c2;
  --silverDark: #969696;
  --grayDim: #716a5c;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--whiteCultured);

  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--blueTufts);
  border-bottom: solid 1px var(--blueYonder);
  z-index: 999;
}

.nav {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  color: var(--whiteCultured);
  justify-content: space-between;
  align-items: center;
}

.nav h1 {
  font-size: 1.7rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.nav__ul {
  display: flex;
  position: relative;
  list-style: none;
  align-items: center;
}

.nav__ul a {
  text-decoration: none;
  color: var(--platinum);
}

.nav__li {
  padding: 0.5em 1em;
  font-size: 1.2rem;
  text-transform: capitalize;
  transition: all ease 0.4s;
}

.nav__li:hover a {
  color: #fff;
}

.nav__img {
  width: 50px;
}

.nav__li--img {
  padding: 0.2em 1.3em 0 1em;
  position: relative;
  display: flex;
}

.nav__shoppingCart {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  min-width: 19px;
  height: 19px;
  text-align: center;
  font-size: 1rem;
  background-color: var(--roseDogwood);
  border: 2px solid #006dff;
  color: #fff;
  border-radius: 25px;
  font-weight: 700;
  line-height: 1.1;
  z-index: 1;
}

main {
  margin-top: 86px;
}

.banner__container {
  width: 100%;
  max-width: 1700px;
  padding-top: 6em;
  margin: 0 auto;
}

.main__container {
  margin: 0 auto;
  padding: 4em 0;
  text-align: center;
  max-width: 1400px;
  width: 100%;
  border-bottom: 2px solid var(--platinum);
}

.filter {
  color: var(--blackCoffee);
  padding-bottom: 4em;
}

.filter__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.filter__list a {
  text-decoration: none;
  color: var(--blackCoffee);
}

.filter__imgContainer {
  padding: 0.5em;
  width: 8em;
  border-radius: 50%;
  background-color: #fff;
  border: 0.1px solid var(--silver);
  box-shadow: inset #4189e626 0 0 5px 3px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.filter__imgContainer:hover {
  transform: scale(1.05);
}

.itemCount {
  border: 1px var(--blueTufts) solid;
  width: 30%;
  border-radius: 5px;
  color: var(--blueTufts);
}

.itemCount__Buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemCount__Counter {
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.itemCount__Operator {
  width: 30%;
  padding: 0.2em 0;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.2em;
  border: none;
  transition: all ease 0.4s;
  color: var(--blueTufts);
  background-color: #fff;
  border-radius: 5px;
}

.itemCount__Operator--minus {
  margin-bottom: 2px;
}

.itemCount__Operator:hover {
  background-color: #4189e626;
}

.main__shoesCarrousel {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-flow: row wrap;
}

.main__shoesCarrousel a {
  text-decoration: none;
}

.main__shoeCard {
  width: 300px;
  height: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 0;
  background-color: #fff;
  border: 2px solid var(--platinum);
  cursor: pointer;
  transition: all ease 0.4s;
}

.main__shoeCard:hover {
  border: 2px solid #dfdfdf;
  box-shadow: #4189e626 0 0 3px 2px;
}

.shoeCard__imgContainer {
  position: relative;
  width: 100%;
}

.shoeCard__img {
  padding-top: 0.7em;
  z-index: 10;
  width: 80%;
}

.shoeCard__secondaryImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 0.7em;
  width: 80%;
  opacity: 0;
  transition: all ease 0.4s;
}

.main__shoeCard:hover .shoeCard__secondaryImg {
  opacity: 1;
}

.shoeCard__brand {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0.2em;
  width: 4.4em;
  z-index: 11;
}

.shoeCard__dataContainer {
  position: relative;
  text-align: start;
  margin: 0 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.shoeCard__type {
  color: var(--brownSaddle);
  padding-bottom: 0.2em;
}

.shoeCard__descrip {
  color: var(--blackCoffee);
}

.shoeCard__price {
  color: var(--greenWinter);
  justify-self: flex-end;
}

.itemDetail {
  background-color: #fff;
  min-height: 100vh;
  border: 2px solid var(--platinum);
  border-radius: 5px;
  padding: 1em 0;
}

.itemMainDetail {
  min-height: 700px;
}

.itemMainDetail,
.itemAdditionalDetail {
  margin-left: 3em;
  display: flex;
}

.itemAdditionalDetail h3 {
  color: var(--blueTufts);
}

.itemMainDetail__column,
.itemAdditionalDetail__column {
  margin-top: 3em;
  width: 100%;
}

.itemMainDetail__column--images {
  display: flex;
}

.columnImages__littleImages {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.columnImages__littleImages img {
  width: 70px;
  border: 1px solid var(--platinum);
  cursor: pointer;
}

.columnImages__bigImage {
  position: relative;
  width: 75%;
}

.bigImage {
  width: 100%;
  margin: 0 auto;
}

.itemMainDetail__column--description {
  padding: 0 2em;
  text-align: start;
}

.mainData__h2 {
  color: var(--blueTufts);
  font-size: 2em;
  margin: 0;
  font-weight: 400;
}

.mainData__type {
  color: var(--greenWinter);
}

.mainData__price {
  font-size: 2em;
  font-weight: 350;
  color: var(--blackCoffee);
}

.mainData__colors {
  font-weight: 300;
  color: var(--blackCoffee);
}

.itemMainDetail__secondaryData {
  padding-top: 1em;
}

.itemMainDetail__h3 {
  text-transform: uppercase;
  font-size: 1em;
  color: var(--blueTufts);
}

.secondaryData__sizesList {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  gap: 0.4em;
}

.secondaryData__sizesItem {
  text-align: center;
  font-size: 13px;
  width: 44px;
  height: 44px;
  color: var(--grayDim);
  border: var(--silver) solid 1px;
  border-radius: 50%;
  cursor: pointer;
}

.secondaryData__sizesItem:hover {
  color: var(--blueTufts);
  border: var(--grayDim) solid 1px;
}

.columnImages__littleImages img:hover {
  border: var(--silver) solid 1px;
}

.itemCheckout {
  padding-top: 2em;
}

.itemCheckout__stockCounter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.itemCheckout__p {
  color: var(--grayDim);
  font-size: 1.1em;
}

.itemCheckout__stock {
  color: var(--grayDim);
  font-size: 1.1em;
}

.itemCheckout__stock--last {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
  padding-left: 0.5em;
  font-size: 1.1em;
  color: var(--redRyb);
}

.itemCheckout__buttons {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.8em 0;
  padding-right: 4em;
}

.itemCheckout__link {
  width: 100%;
}

.itemCheckout__buttons button {
  width: 100%;
  font-size: 1.2em;
  padding: 0.6em 0;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  transition: all ease 0.4s;
}

.itemCheckout__blueButton {
  margin-top: 2em;
  background-color: var(--blueTufts);
  color: var(--whiteCultured);
}

.itemCheckout__blueButton:hover {
  background-color: var(--blueYonder);
}

.itemCheckout__grayButton {
  margin-top: 2em;
  color: var(--blueTufts);
  background-color: #4189e626;
}

.itemCheckout__grayButton:hover {
  background-color: #4189e63e;
}

.itemAdditionalDetail__column {
  text-align: start;
  color: var(--grayDim);
}

.itemAdditionalDetail__column--details {
  line-height: 1.8;
}

.itemAdditionalDetail__column--details h3,
.itemAdditionalDetail__column--materials h3 {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 500;
}

.itemAdditionalDetail__column--details p {
  margin: 0.1em;
}

.itemAdditionalDetail__column--materials ul {
  margin-left: 2em;
}

.itemAdditionalDetail__column--materials li {
  padding: 0.5em 0;
}

.main__cart {
  padding: 5em 0;
}

.cart {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 4em;
  background-color: #fff;
  border: 2px solid var(--platinum);
  box-shadow: var(--platinum) 0 0 4px 2px;
}

.cart__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
  color: var(--blackCoffee);
}

.cart__clear {
  padding: 1em 1em;
  border-radius: 15px;
  background-color: #4189e626;
  border: none;
  transition: all ease 0.4s;
  color: var(--blueYonder);
  cursor: pointer;
}

.cart__clear:hover {
  background-color: #4189e63e;
  transform: scale(1.04);
}

.cart__grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

.cart__grid h2 {
  color: var(--blackCoffee);
}

.cart__grid h2 + .cart__grid h2 {
  text-align: center;
}

.cart__container {
  padding: 2em 0;
  border-top: 1px solid var(--platinum);
}

.cart__center {
  text-align: center;
}

.cart__product {
  display: flex;
}

.cart__img {
  width: 100px;
}

.cart__item {
  padding-left: 1em;
}

.cart__item h2 {
  font-size: 1.2rem;
  color: var(--blackCoffee);
}

.cart__item button {
  color: var(--blueTufts);
  background-color: #fff;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
}

.cart__item button:hover {
  color: var(--blueYonder);
}

.cart__back {
  padding: 1em 1em;
  border-radius: 15px;
  background-color: #4189e626;
  border: none;
  transition: all ease 0.4s;
}

.cart__back:hover {
  background-color: #4189e63e;
  transform: scale(1.04);
}

.cart__back a {
  text-decoration: none;
  color: var(--blueYonder);
}

.cart__payment {
  margin-top: 2em;
  border-top: var(--platinum) 3px solid;
}

.cart__payment--grid {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.cart__payment h2 {
  color: var(--blackCoffee);
  font-size: 1.4rem;
}

.cart__payment p {
  font-size: 1.1rem;
}

.cart__paymentButton {
  margin-top: 2em;
  text-align: end;
}

.cart__paymentButton button {
  background-color: var(--blueTufts);
  color: var(--whiteCultured);
  border: none;
  border-radius: 10px;
  padding: 1em 4em;
  cursor: pointer;
  transition: all ease 0.4s;
  font-weight: 700;
}

.cart__paymentButton button:hover {
  transform: scale(1.04);
}

.main__emptyCart {
  min-height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emptyCart {
  background-color: #fff;
  padding: 5em 2em;
  border-radius: 20px;
  box-shadow: var(--platinum) 0 0 10px 2px;
}

.emptyCart h1 {
  color: var(--blueYonder);
}

.emptyCart__button {
  margin-top: 1.5em;
  border: none;
  padding: 1em 4em;
  background-color: var(--blueTufts);
  color: var(--whiteCultured);
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.4s;
  font-weight: 700;
}

.emptyCart__button:hover {
  transform: scale(1.04);
}
