/* Resets & general Css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --whiteGhost: #f7f5fb;
  --platinum: #eaeaea;
  --matteCharcoal: #3b4248;
  --fieryRose: #e95d70;
  --russianGreen: #7a9e7e;
  --cornBlue: #7b9cda;
  --babyBlue: #9fbdf5;
  --blueBeau: #ccdde2;
  --blueWild: #93a3bc;
  --grayDim: #716a5c;
  --t04: all ease 0.4s;
}

::-webkit-scrollbar {
  background-color: var(--platinum);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blueBeau);
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--whiteGhost);

  box-sizing: border-box;
}

main {
  margin-left: 4rem;
  padding: 2rem 0;
}

img {
  max-width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.img-desktop {
  display: none;
}

/* Navbar Css */

.header {
  padding-left: 4rem;
  background: var(--babyBlue);
  color: var(--whiteGhost);
  border-bottom: var(--cornBlue) 2px solid;
}

.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.nav__tittle {
  margin: 0 auto;
  color: var(--whiteGhost);
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.nav__tittle-div {
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.3em;
  height: 2.3em;
  font-size: 1.2rem;
  font-weight: 700;
  width: 2.875rem;
  background-color: var(--whiteGhost);
  color: var(--babyBlue);
  clip-path: circle(50% at 50% 50%);
}

.nav__cart {
  position: relative;
  color: var(--whiteGhost);
  font-size: 2rem;
}

.nav__shoppingCart {
  position: absolute;
  top: -0.8rem;
  right: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.6rem;
  height: 1.6rem;
  font-size: 1rem;
  background-color: var(--fieryRose);
  color: #fff;
  clip-path: circle(50% at 50% 50%);
  font-weight: 700;
}

/* SideBar Css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 4rem;
  z-index: 999;
  font-size: 1.4rem;
  background-color: var(--babyBlue);
  border-right: var(--cornBlue) 2px solid;
  transition: var(--t04);
  overflow: hidden;
}

.sidebar__list {
  margin-top: 5rem;
  list-style: none;
  display: grid;
  align-items: center;
  gap: 2em 0;
}

.sidebar__item {
  height: 2rem;
  padding: 1.2em 1em;
  transition: var(--t04);
  display: flex;
  align-items: center;
  border-radius: 0px 1.2rem 1.2rem 0px;
}

.sidebar__link {
  display: flex;
  gap: 0 1em;
  align-items: center;
}

.sidebar__item a {
  text-decoration: none;
  color: var(--whiteGhost);
}

.sidebar__item p {
  margin: 0;
  text-transform: capitalize;
}

.sidebar__item:hover {
  background-color: var(--cornBlue);
  color: #fff;
}

/* Footer Css */

footer {
  padding-left: 4rem;
  background: var(--babyBlue);
  color: var(--whiteGhost);
  border-top: var(--cornBlue) 2px solid;
}

.footer__container {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  gap: 0 1rem;
}

.footer__icon {
  padding-top: 0.1rem;
}

/* Banner & Filter */

.main__banner {
  padding-top: 2rem;
}

.filter__images {
  padding: 2rem 0;
}

.filter__featuredBrands {
  margin: 0 auto 2rem auto;
  display: grid;
  grid-template-areas:
    "nike nike"
    "adidas vans"
    "converse converse";
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.featBrand__item {
  background-color: var(--whiteGhost);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.featBrand__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--t04);
}

.featBrand__item:hover::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.featBrand__item-nike {
  grid-area: nike;
}

.featBrand__item-adidas {
  grid-area: adidas;
}

.featBrand__item-vans {
  grid-area: vans;
}

.featBrand__item-converse {
  grid-area: converse;
}

.featBrand__item-image {
  transition: var(--t04);
}

.featBrand__item:hover .featBrand__item-image {
  transform: scale(1.06);
}

/* ShoesCards Css */

.shoesCards {
  margin: 4rem auto 0 auto;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-flow: row wrap;
}

.shoesCards a {
  text-decoration: none;
}

.shoeCards__card {
  width: 18rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 3px solid var(--platinum);
  cursor: pointer;
  transition: var(--t04);
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
  padding: 1em;
}

.shoeCards__card:hover {
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
  border: 3px solid var(--blueBeau);
  border-top: 3px solid var(--babyBlue);
}

.card__imgContainer {
  position: relative;
}

.card__secondaryImg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--t04);
}

.shoeCards__card:hover .card__secondaryImg {
  opacity: 1;
}

.card__dataContainer {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  text-align: start;
  padding: 1rem 1rem;
  line-height: 1.6;
}

.card__dataContainer span {
  color: var(--russianGreen);
  font-size: 1.1rem;
  font-weight: bold;
}

.card__dataContainer h3 {
  color: var(--babyBlue);
  font-size: 1.4rem;
  font-weight: bolder;
}

.card__dataContainer p {
  color: var(--matteCharcoal);
  font-size: 1.1rem;
}

/* ItemDetail Css */

.main__itemDetail {
  padding: 0;
}

.itemDetail__container {
  width: 100%;
}

.itemDetail {
  background-color: #fff;
  padding: 2rem 1rem;
  color: var(--matteCharcoal);
  text-align: start;
}

.itemDetail__titleBox-desktop {
  display: none;
}

.itemMainDetail {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.itemMainDetail__column-images {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
}

.columnImages__littleImages-desktop {
  display: none;
}

.columnImages__littleImages-mobile {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dot {
  color: var(--blueBeau);
  cursor: pointer;
}

.dot-active {
  color: var(--russianGreen);
}

.itemMainDetail__mainData {
  padding: 2em 0;
}

.mainData__type {
  font-weight: bolder;
  color: var(--russianGreen);
}

.mainData__purchase {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 0.5em;
}

.mainData__price {
  font-size: 1.8rem;
  font-weight: bolder;
  color: var(--matteCharcoal);
}

.mainData__fees {
  background-color: var(--fieryRose);
  color: #fff;
  font-weight: bold;
  padding: 0.1rem 0.8rem;
  clip-path: polygon(0% 0%, 97% 0, 100% 50%, 97% 100%, 0% 100%);
}

.mainData__colors {
  font-weight: bold;
  font-size: 1rem;
  color: var(--babyBlue);
}

.itemMainDetail__sizesList {
  color: var(--matteCharcoal);
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.sizesList {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 0.4em;
}

.sizesItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: var(--grayDim);
  border: var(--blueBeau) solid 1px;
  border-radius: 50%;
  cursor: pointer;
}

.sizesItem--active {
  background-color: var(--babyBlue);
  color: #fff;
  border: none !important;
}

.sizesItem:hover {
  border: var(--grayDim) solid 1px;
}

.itemAdditionalDetail__column {
  text-align: start;
  color: var(--blueWild);
  font-weight: bold;
}

.itemAdditionalDetail__column-materials,
.itemAdditionalDetail__column-details {
  margin-top: 2rem;
}

.itemAdditionalDetail__column-details {
  line-height: 2.2rem;
}

.itemAdditionalDetail__column-details h3,
.itemAdditionalDetail__column-materials h3 {
  font-size: 1.3em;
  text-transform: uppercase;
  padding-bottom: 2rem;
  color: var(--matteCharcoal);
}

.itemAdditionalDetail__column-details p {
  margin: 0.1em;
}

.itemAdditionalDetail__column-materials ul {
  margin-left: 2em;
}

.itemAdditionalDetail__column-materials li {
  padding: 0.5em 0;
}

/* ItemCount Css */

.itemCheckout {
  padding: 1.5rem 0;
}

.itemCheckout__stock--last {
  text-transform: capitalize;
  font-weight: 500;
  padding-left: 0.5em;
  color: var(--fieryRose);
}

.itemCheckout__stockCounter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-top: 2rem;
  color: var(--blueWild);
  font-weight: bold;
}

.itemCount {
  border: 1px var(--babyBlue) solid;
  border-radius: 5rem;
  color: var(--babyBlue);
  width: 50%;
}

.itemCount__Buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemCount__Counter {
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin: 0;
}

.itemCount__Operator {
  font-size: 2.5rem;
  cursor: pointer;
  transition: var(--t04);
  color: var(--babyBlue);
  border-radius: 50%;
}

.itemCount__Operator:hover {
  color: var(--cornBlue);
}

.itemCheckout__buttonContainer {
  text-align: center;
  padding-top: 2rem;
}

.itemCheckout__button {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 44px;
  border: none;
  background-color: var(--babyBlue);
  color: var(--whiteGhost);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease all;
  cursor: pointer;
  box-shadow: rgba(82, 136, 208, 0.5) 0 0 30px;
  transition: 0.4s ease-in-out;
}

.itemCheckout__button span {
  z-index: 999;
}

.itemCheckout__button::after {
  position: absolute;
  top: 0;
  left: calc(-100% - 80px);
  content: "";
  width: 100%;
  border-bottom: 80px solid var(--russianGreen);
  border-right: 80px solid transparent;
  z-index: 1;
  transition: 0.4s ease-in-out;
}

.itemCheckout__button:hover {
  box-shadow: rgba(83, 145, 126, 0.5) 0 0 30px;
}

.itemCheckout__button:hover::after {
  left: 0;
}

/* Cart Css */

.main__cart .main__contact {
  color: var(--matteCharcoal);
  background-color: #fff;
}

.cart {
  padding: 2rem 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #fff;
}

.cart__title,
.about__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
}

.cart__clear {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5em 0.8em;
  border-radius: 0.9rem;
  background-color: #4189e626;
  border: none;
  transition: var(--t04);
  color: var(--cornBlue);
  cursor: pointer;
}

.cart__clear:hover {
  background-color: #4189e63e;
  transform: scale(1.04);
}

.cart__container {
  padding: 2rem 0;
  border-top: 1px solid var(--platinum);
}

.cart__product {
  display: flex;
  padding-bottom: 2rem;
}

.cart__img {
  width: 7rem;
}

.cart__item {
  padding: 0.5rem 0;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cart__item h2 {
  font-size: 1.2rem;
}

.cart__item button {
  color: var(--babyBlue);
  background-color: #fff;
  padding: 0;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
}

.cart__item button:hover {
  color: var(--cornBlue);
}

.cart__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #4189e626;
  color: var(--cornBlue);
  border-radius: 0.5rem;
}

.cart__payment {
  padding: 1rem 1rem;
  background-color: var(--whiteGhost);
  border-radius: 0.5rem;
  color: var(--cornBlue);
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 2rem;
}

.cart__payment h2 {
  padding: 1.5rem 0;
}

.cart__paymentCalc {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--cornBlue);
}

.cart__paymentCalc--sub {
  font-size: 0.9rem;
  border-bottom: var(--platinum) 1px solid;
}

.cart__paymentCalc--total {
  font-size: 1.1rem;
}

.cart__paymentButton {
  text-align: center;
  padding: 1rem 0;
}

.cart__paymentButton button {
  background-color: var(--babyBlue);
  color: var(--whiteGhost);
  border: none;
  border-radius: 0.5rem;
  padding: 1em 4em;
  cursor: pointer;
  transition: var(--t04);
  font-weight: 700;
  font-weight: bold;
  box-shadow: rgba(82, 136, 208, 0.4) 0 0 2rem;
}

.cart__paymentButton button:hover {
  background-color: var(--russianGreen);
  box-shadow: rgba(83, 145, 126, 0.4) 0 0 2rem;
}

.cart__back {
  text-align: center;
  padding: 1rem 0;
}

.cart__back button {
  text-align: center;
  font-size: 1rem;
  padding: 1em 3em;
  background-color: transparent;
  color: var(--cornBlue);
  border: none;
  transition: var(--t04);
  cursor: pointer;
}

.cart__prices {
  font-weight: bold;
}

.main__emptyCart {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
}

.emptyCart {
  padding: 5rem 2rem;
  border-radius: 1.8rem;
}

.emptyCart h1 {
  color: var(--cornBlue);
}

.emptyCart__button {
  margin-top: 1.5em;
  border: none;
  padding: 1em 4em;
  background-color: var(--babyBlue);
  color: var(--whiteGhost);
  border-radius: 10px;
  cursor: pointer;
  transition: var(--t04);
  font-weight: 700;
}

.emptyCart__button:hover {
  box-shadow: rgba(82, 136, 208, 0.4) 0px 0px 30px;
}

.cart__back button a {
  text-decoration: none;
  color: var(--babyBlue);
}

.cart__checkout {
  padding-top: 2rem;
}

.cart__form,
.about__form {
  padding: 2rem 1rem;
  text-align: start;
  min-height: 100vh;
}

.form__label {
  display: block;
  font-weight: 700;
  padding: 1rem;
  cursor: pointer;
}

.form__inputContainer {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.form__inputContainer input {
  width: 100%;
  background-color: var(--whiteGhost) !important;
  border: 3px solid var(--platinum);
  border-radius: 5px;
  height: 3rem;
  line-height: 3rem;
  transition: var(--t04);
}

.form__inputContainer input:focus {
  border: 3px solid var(--babyBlue);
  outline: none;
  box-shadow: 3px 0 30px var(--platinum);
}

.form__textTareaContainer {
  width: 100%;
  margin-top: 1rem;
}

.form__textTareaContainer textarea {
  width: 100%;
  background-color: var(--whiteGhost) !important;
  border: 3px solid var(--platinum);
  border-radius: 5px;
  height: 6rem;
  line-height: 3rem;
  transition: var(--t04);
}

.form__textTareaContainer textarea:focus {
  border: 3px solid var(--babyBlue);
  outline: none;
  box-shadow: 3px 0 30px var(--platinum);
}

.form__errorInput {
  border: 3px solid var(--fieryRose) !important;
}

.form__successInput {
  border: 3px solid var(--russianGreen) !important;
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  font-size: 1.8rem;
  color: var(--blueWild);
}

.form__errorIcon {
  color: var(--fieryRose);
}

.form__successIcon {
  color: var(--russianGreen);
}

.form__errorMessage {
  color: var(--fieryRose);
  font-size: 1rem;
}

.form__btn {
  margin: 1rem;
  font-size: 1rem;
  width: 50%;
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
  border: none;
  background-color: var(--cornBlue);
  color: #fff;
  cursor: pointer;
  transition: var(--t04);
}

.form__btn:hover {
  background-color: var(--russianGreen);
}

.ticket {
  padding: 2rem 0;
  text-align: start;
  min-height: 100vh;
}

.main__cartTicketDiv h2 {
  padding-bottom: 1rem;
}

.cart__item-ticket {
  padding: 0.5rem 0;
  padding-left: 1rem;
  display: block;
  line-height: 2rem;
  font-weight: bold;
  color: var(--grayDim);
}

.cart__item-ticket h3 {
  font-size: 1.2rem;
}

.cart__item-ticket p {
  font-size: 1.1rem;
}

.cart__item button {
  font-size: 1rem;
  font-weight: bold;
}

.main__cartTicketDiv {
  border-bottom: var(--platinum) 2px solid;
  padding-bottom: 2rem;
}

.main__cartTicketDiv-data {
  padding: 2rem 0 0 0;
  border-bottom: none;
  color: var(--grayDim);
}

.ticketData__list {
  font-weight: bold;
  list-style: none;
}

.ticketData__item {
  padding: 0.6rem 0;
}

.ticket__button {
  border: none;
  font-size: 1rem;
  padding: 1em 4em;
  background-color: var(--babyBlue);
  color: var(--whiteGhost);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--t04);
  font-weight: bold;
  box-shadow: rgba(82, 136, 208, 0.4) 0 0 2rem;
}

.ticket__button:hover {
  background-color: var(--cornBlue);
  box-shadow: rgba(69, 115, 176, 0.4) 0 0 2rem;
}

/* SweetAlert Styles */

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(5px);
}

.swalButton {
  width: 100%;
  border: none !important;
  box-shadow: none !important;
}

/* Loading & Error Css */

.mainLoading {
  background-color: #fff;
}

.loading,
.notFound {
  height: calc(100vh - 104px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #fff;
}

.notFound {
  text-align: center;
  font-size: 2.5rem;
  color: var(--grayDim);
}

/* About Page Css */

.main__about {
  padding: 0;
  margin: 0 0 0 4rem;
  color: var(--whiteGhost);
  position: relative;
  height: calc(100vh - 58px);
}

.about__image {
  padding: 0;
  width: 100%;
  height: inherit;
  object-fit: cover;
  filter: brightness(0.7);
}

.about__image-desktop {
  display: none;
}

.about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 138px);
  margin-top: 80px;
  border-radius: 0.5rem;
  line-height: 1.8;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.about h2 {
  font-size: 3rem;
}

.about p {
  font-size: 1.5rem;
}

.about__button {
  margin-top: 3rem;
}

.about__button button {
  font-size: 1rem;
  padding: 1em 3em;
  color: var(--cornBlue);
  background-color: rgba(255, 255, 255, 0.1);
  border: #fff 1px solid;
  transition: var(--t04);
  cursor: pointer;
}

.about__button button:hover {
  transform: scale(1.02);
}

.about__button button a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--whiteGhost);
}

.about__icon {
  font-size: 1.5rem;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.loading__icon {
  font-size: 5rem;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: var(--russianGreen);
}

@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }

  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.5rem 0rem 0.5rem 4rem;
    background: transparent;
    border-bottom: transparent 2px solid;
    transition: var(--t04);
    z-index: 998;
  }

  .nav__tittle {
    color: var(--babyBlue);
    transition: var(--t04);
  }

  .nav__tittle-div {
    background-color: var(--babyBlue);
    color: var(--whiteGhost);
    transition: var(--t04);
  }

  .nav__cart {
    color: var(--babyBlue);
    transition: var(--t04);
  }

  .header.sticky {
    background-color: var(--babyBlue);
    padding: 0rem 0rem 0rem 4rem;
    border-bottom: var(--cornBlue) 2px solid;
  }

  .header.sticky .nav__tittle {
    color: var(--whiteGhost);
  }

  .header.sticky .nav__tittle-div {
    background-color: var(--whiteGhost);
    color: var(--babyBlue);
  }

  .header.sticky .nav__cart {
    color: var(--whiteGhost);
  }

  main {
    background-color: var(--whiteGhost);
    padding-top: calc(2rem + 80px);
  }

  .container {
    width: 100%;
    max-width: 1600px;
  }

  .desktop__container {
    padding: 4rem 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--whiteGhost);
  }

  .sidebar:hover {
    width: 12rem;
  }

  .nav__tittle {
    margin: unset;
  }

  /* Hiding Mobile css */

  .img-mobile {
    display: none;
  }

  .itemDetail__titleBox-mobile {
    display: none;
  }

  .columnImages__littleImages-mobile {
    display: none;
  }

  /* Desktop css */

  .img-desktop {
    display: block;
    margin: 0 auto;
  }

  .filter__featuredBrands {
    grid-template-areas:
      "nike nike adidas "
      "vans converse converse ";
  }

  .main__itemDetail {
    padding: calc(2rem + 80px);
  }

  .itemDetail {
    padding: 8rem 4rem;
    border: var(--platinum) 2px solid;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2rem;
  }

  .itemMainDetail__mainData {
    padding: 0;
  }

  .itemMainDetail,
  .itemAdditionalDetail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .itemDetail__titleBox-desktop {
    display: block;
    padding-bottom: 2rem;
  }

  .itemDetail__titleBox-desktop h2 {
    font-size: 1.6rem;
  }

  .mainData__purchase {
    padding-bottom: 1em;
  }

  .mainData__price {
    font-size: 2.2rem;
  }

  .itemMainDetail__column-images,
  .itemAdditionalDetail__column-details {
    width: 50%;
  }

  .itemMainDetail__column-description,
  .itemAdditionalDetail__column-materials {
    width: 35%;
  }

  .itemMainDetail__column-images {
    display: flex;
    flex-direction: row;
  }

  .columnImages__littleImages-desktop {
    display: flex;
    flex-direction: column;
    width: 16%;
    gap: 0.5rem 0;
    height: 29rem;
    overflow-y: auto;
    overscroll-behavior-inline: contain;
  }

  .littleImages {
    width: 5rem;
    border: var(--platinum) 1px solid;
    cursor: pointer;
  }

  .littleImages-active {
    border: var(--babyBlue) 1px solid;
  }

  .columnImages__bigImage {
    width: 70%;
  }

  .columnImages__bigImage img {
    width: 42.83rem;
  }

  .itemMainDetail__sizesList {
    padding: 2rem 0;
  }

  .main__cart,
  .main__contact {
    background-color: var(--whiteGhost);
  }

  .cart {
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 15%;
    min-height: unset;
  }

  .cart__left {
    width: 65%;
  }

  .cart__title,
  .about__title {
    font-size: 1.5rem;
  }

  .cart__clear {
    padding: 1em 2em;
  }
  s .cart__rigth {
    width: 30%;
  }

  .cart__payment {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.4rem;
    gap: 2rem;
  }

  .cart__paymentButton button {
    font-size: 1rem;
    width: 100%;
  }

  .cart__form,
  .about__form {
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2rem;
    font-size: 1.4rem;
    width: 60%;
    margin: 0 auto;
    padding-top: 4rem;
    background-color: #fff;
    min-height: unset;
  }

  .form__inputContainer input {
    font-size: 1.2rem;
    padding-left: 0.5rem;
  }

  .form__textTareaContainer textarea {
    font-size: 1.2rem;
    padding-left: 0.5rem;
  }

  .cart__form .cart__clear {
    padding: 0.8rem 2rem;
  }

  .ticket {
    min-height: unset;
    background-color: #fff;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2rem;
  }

  .ticket-title {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .main__cartTicket {
    display: flex;
    gap: 10%;
  }

  .main__cartTicketDiv {
    width: 60%;
    border-bottom: none;
    padding: 0;
  }

  .ticket__total {
    font-size: 1.5rem;
  }

  .main__cartTicketDiv-data {
    font-size: 1.1rem;
    position: relative;
  }

  .form__btn span {
    left: 40%;
  }

  .ticket__button-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .loading,
  .notFound {
    height: calc(100vh - 137px);
  }

  .about__image-desktop {
    display: block;
  }

  .about__image-mobile {
    display: none;
  }
}
